<h1><%= @business.name %></h1>

<p><%= @business.description %></p>

<% if @business.site_web.present? %>
  <% url = @business.site_web.start_with?('http') ? @business.site_web : "http://#{@business.site_web}" %>
  <p><%= link_to @business.site_web, url, target: "_blank", rel: "noopener" %></p>
<% end %>

<hr>

<h2>Menu:</h2>

<%# Boucle sur les menus "racine" (ex: "Fin de semaine") %>
<% @business.menus.each do |root_menu| %>
  <h3><%= root_menu.title %>:</h3>

  <%# Boucle sur les sous-menus de ce menu (ex: "Dejeuner", "Diner", "Souper") %>
  <% if root_menu.menus.any? %>
    <% root_menu.menus.each do |sub_menu| %>
      <h4 style="margin-left: 20px;"><%= sub_menu.title %></h4>

      <%# Cherche les items DANS le sous-menu %>
      <% if sub_menu.items.any? %>
        <ul style="margin-left: 40px;">
          <% sub_menu.items.each do |item| %>
            <li>
              <strong><%= item.name %></strong>
              <% if item.price.present? %>
                (<%= item.price %>$)
              <% end %>
              <br>
              <%= item.description %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p style="margin-left: 40px;">Aucun item dans ce sous-menu.</p>
      <% end %>
    <% end %>
  <% else %>
    <% if root_menu.items.any? %>
      <ul>
        <% root_menu.items.each do |item| %>
          <li>
            <strong><%= item.name %></strong>
            <% if item.price.present? %>
              (<%= item.price %>$)
            <% end %>
            <br>
            <%= item.description %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <%# S'il n'y a ni sous-menu ni items... %>
      <p>Aucun item dans ce menu.</p>
    <% end %>
  <% end %>
<% end %>