<%# Gabriel Bolduc 13 novembre %>
<h1><%= @business.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @business.description %>
</p>

<% if @business.site_web.present? %>
  <% url = @business.site_web.start_with?('http') ? @business.site_web : "http://#{@business.site_web}" %>
  <p> <%= link_to @business.site_web, url, target: "_blank", rel: "noopener" %></p>
<% end %>

<hr>

<% @business.menus.each do |root_menu| %>
  <div>

    <% if root_menu.menus.any? %>
      <% root_menu.menus.each do |sub_menu| %>
        <div>
          <h4>
            <%= sub_menu.title %>
          </h4>

          <% if sub_menu.items.any? %>
            <ul>
              <% sub_menu.items.each do |item| %>
                <li>
                  <strong><%= item.name %></strong>
                  <% if item.price.present? %> (<%= item.price %>$)<% end %>
                  <br>
                  <%= item.description %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p>Aucun item dans ce sous-menu.</p>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <% if root_menu.items.any? %>
        <ul>
          <% root_menu.items.each do |item| %>
            <li>
              <strong><%= item.name %></strong>
              <% if item.price.present? %> (<%= item.price %>$)<% end %>
              <br>
              <%= item.description %>
            </li>
          <% end %>
        </ul>
      <% else %>
         <p>Ce menu ne contient ni sous-menu, ni item.</p>
      <% end %>
    <% end %>
  </div>
<% end %>