<%# Une entête H1 avec le titre du restaurant %>
<h1><%= @business.name %></h1>

<p><%= @business.description %></p>

<%# Utilisation de votre logique corrigée pour site_web %>
<% if @business.site_web.present? %>
  <% url = @business.site_web.start_with?('http') ? @business.site_web : "http://#{@business.site_web}" %>
  <p><%= link_to @business.site_web, url, target: "_blank", rel: "noopener" %></p>
<% end %>

<hr>

<%# Affiche le ou les menu du restaurant accompagné des items indenté %>
<h2>Menus:</h2>
<% @business.menus.each do |menu| %>
  <h3><%= menu.title %>:</h3>
  
  <% if menu.items.any? %>
    <ul>
      <% menu.items.each do |item| %>
        <li>
          <strong><%= item.name %></strong> (<%= item.price %>$)
          <br>
          <em><%= item.description %></em>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Aucun item dans ce menu.</p>
  <% end %>
<% end %>