<!DOCTYPE html>
<html>
  <head>
   <title><%= content_for(:title) || "Restaurant" %></title>
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <meta name="apple-mobile-web-app-capable" content="yes">
   <meta name="mobile-web-app-capable" content="yes">
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>

    <%= yield :head %>

    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      
      header { 
        background-color: #fff; 
        border-bottom: 1px solid #e0e0e0; 
        padding: 15px 30px; 
      }
      nav { 
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
        max-width: 960px;
        margin: 0 auto;
      }
      .container { 
        max-width: 960px; 
        margin: 20px auto; 
        padding: 0 20px; 
      }
    </style>
    </head>

    <body>
    <header>
      <nav>
        <div class="links">
          <%= link_to "Accueil", root_path %>
          
          <% if user_signed_in? %>
            <%= link_to "Mes Menus", mesmenus_path %>
          <% if current_user.admin? %>
              <%= link_to "Section Admin", admin_root_path %>
          <% end %>

          <% end %>
        </div>

        <div class="auth">
          <% if user_signed_in? %>
            <span class="user-email">Connect: <%= current_user.email %></span>
            <%= link_to "Modifier Compte", edit_user_registration_path %>
            <%= button_to "Deconnexion", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Connexion", new_user_session_path %> |
            <%= link_to "Inscription", new_user_registration_path %>
          <% end %>
      </nav>
    </header>

    <main class="container">
      <% if notice.present? %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert"><%= alert %></p>
      <% end %>
      

      <%= yield %>
    </main>
    </body>
</html>